<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link py-0" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ user.gravatar }}" 
            alt="profile" 
            class="rounded-circle"
            style="width: 32px; height: 32px; object-fit: cover;">
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li>
          <a class="dropdown-item text-primary" href="{% url 'user_profile' %}">
          View profile <i class="bi bi-eye-fill ms-2"></i>
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item" href="{% url 'edit_profile' %}">
            Edit profile <i class="bi bi-pencil-square ms-2"></i>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'password' %}">
            Change password <i class="bi bi-key-fill ms-2"></i>
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item text-danger" href="{% url 'log_out' %}">
            Log out <i class="bi bi-box-arrow-right ms-2"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>